<footer id="site-footer">
    <div id="footer-content" class="page-center">
        <a id="site-title" href="/">This Week in Dart</a>
        <ul id="footer-list" class="page-center">
            <li><a href="https://dart.dev">Dart</a></li>
            <li><a href="/issues/">Issues</a></li>
            <li><a href="https://github.com/parlough/thisweekindart">Source</a></li>
            <li><a href="https://discord.gg/Qt6DgfAWWx">Discord</a></li>
            <li><a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a></li>
        </ul>
    </div>
</footer>