<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Language" content="en_US" />
    <title>{{ page.title | default: 'This Week in Dart' }}</title>
    <meta name="description" content="{{ page.description | default: page.title }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="This Week in Dart Contributors">
    <meta name="keywords" content="Dart, This Week in Dart, Flutter, Dart News, Flutter News">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,700&display=swap" rel="stylesheet">

    <link href="/main.css" rel="stylesheet">
    <script src="/main.js" defer></script>
</head>