<!doctype html>
<html lang="en">
    {% include "partials/head.html" %}
    <body>
        {% include "partials/navbar.html" %}

        <main id="page-content" class="page-center">
            <article id="content">
                <header id="post-header">
                    <h1>{{page.title}}</h1>
                    <time datetime="{{ page.date }}">{{ page.date }}</time>
                </header>
                {{ page.content }}
            </article>
        </main>

        {% assign issues = 'package:thisweekindart/all.json' | readString | json_decode %}
        {% assign sequence = issues.sequence | get: page.meta_id %}
        {% include "partials/footer.html" prev = sequence.prev next = sequence.next %}
    </body>
</html>