---
template: layouts/main

data:
    title: "This Week in Dart issues"
    description: "All issues of This Week in Dart"
---

{% block "blocks/markdown" %}
# Previous issues

The following is a list of all previous issues
of This Week in Dart
in reverse historical order.

---
{% endblock %}

<div id="issues-index">
    {% assign issues = 'package:thisweekindart/all.json' | readString | json_decode %}
    {% for child in issues.issues | reverse %}
    {% assign page = child.index | default: child | pageInfo %}
    {% include "partials/issue-index-item.html" %}
    {% endfor %}
</div>